@import '../../scss/Variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 72px;
  background-color: $color-background-1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar__logo {
  width: 82px;
  margin-left: $base-space;
}

.navbar__about {
  color: $color-text-white;
  margin-right: $base-space;
}